const initialApple = {
  color: "red",
  dirty: true,
  remainingBites: 5
};

const WASH = { type: "WASH" };
const EAT = { type: "EAT", bites: 2 };
const ROT = { type: "ROT" };

function appleReducer(state = initialApple, action) {
  switch (action.type) {
    case "WASH":
      // sets the `dirty` field to `false`
      return { ...state, dirty: false };

    case "EAT":
      // decrements the number of remaining bites (cannot go below 0)
      // note that the number of bites is given as a payload in the EAT action
      return {
        ...state,
        remainingBites: Math.max(0, state.remainingBites - action.bites)
      };

    case "ROT":
      // changes the apple's color to brown
      return { ...state, color: "brown" };

    // we don't know how to handle other actions,
    // so let's just do nothing and return the apple
    default:
      return state;
  }
}
